*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
::selection{
    background-color: #000;
    color: #fff;
}
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #333;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
  }
.wrap{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #333;
    .userCon{
        width: 100%;
        display: flex;
        .photoCon{
            margin-right: 50px;
            img{
                width: 300px;
                height: 300px;
                border-radius: 50%;
                border: 2px #fff solid;
            }
        }
        h2{
            color: #ffffff;
            font-weight: 600;
            font-size: 32px;
        }
        .mainText{
            color: #e5e5e5;
            font-size: 16px;
            font-weight: 300;
            width: 1100px;
            margin-top: 20px;
        }
        .mediaCon{
            width: 550px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            .socialMedia{
                width: 280px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                color: #fff;
                font-size: 42px;
                a{
                    color: #fff;
                    text-decoration: none;
                    i{
                        cursor: pointer;
                        transition: 0.5s ease-in-out;
                    }
                    i:hover{
                        color: #000;
                    }
                }
    
            }
            .hr{
                width: 3px;
                height: 50px;
                background-color: #fff;
                border-radius: 2px;
            }
            .phoneNum{
                color: #fff;
                text-decoration: none;
                font-size: 24px;
                font-weight: 600;
            }
        }

    }
    #reposTitle{
        font-size: 32px;
        color: #fff;
        font-weight: 700;
        margin-top: 35px;
    }
    .reposCon{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
        .repo{
            width: 430px;
            height: 200px;
            border: #fff 2px solid;
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 20px;
            color: #fff;
            .repoName{
                font-size: 24px;
                font-weight: 600;
            }
            .repoDes{
                font-size: 16px;
                font-weight: 300;
                margin-top: 10px;
            }
            .buttons{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .button{
                    width: 150px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    color: #333;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    border-radius: 16px;
                }
            }
        }
    }
}